<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/Raster-v20/raster2.css">
  </head>
  <body>
    <h1>Title</h1>
    <r-grid columns=4>
        <r-cell span=2-3><h2>Text</h2><hr></r-cell>
      <r-cell span=2-3>Sample text for NJS projects and articles.</r-cell>
      
    </r-grid>
    <hr>
    <r-grid columns=2>
        <r-cell><p>©2025 <a href="https://njsharp.uk/" >Nathan Sharp</a>. All rights reserved.</p></r-cell>
    </r-grid>
  </body>
</html>
