/* r-cell {
    background-color: #cfcfcf;
} */

.title-block {
    padding-bottom: 15%;
}

.Footer {
    padding-top: 10%;
}

.see-all {
    color: #48495D;
}

.see-all:hover {
    background-color: #BDBAC3;
    color: #48495D;
    border-radius: 5px;
    padding: 5px;
}

hr {
  color: currentColor;
  background-color: currentColor;
  border-color: currentColor;
}
